COMICRACK_CONTAINER=mariadb
COMICRACK_USER=comicrack
COMICRACK_USER_PASSWORD=<password>
COMICRACK_ROOT_PASSWORD=<password>
MYSQL_DATABASE=comicdb
APPDATA=C:\Users\<username>\appdata\Roaming\cYo\ComicRack
BACKUP=C:\Users\<username>\OneDrive\Documents\ComicRack
SSMTP_MAILHUB=smtp.gmail.com:465
SSMTP_AUTHUSER=<username>@gmail.com
SSMTP_AUTHPASS=password
SSMTP_REWRITEDOMAIN=gmail.com
SSMTP_HOSTMAME=gmail.com
SSMTP_TO=<username>@gmail.com